
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");

/*
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@import "libs/skel";

	@include skel-breakpoints((
		wide: '(max-width: 1680px)',
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 980px)',
		narrower: '(max-width: 840px)',
		mobile: '(max-width: 736px)',
		mobilep: '(max-width: 480px)',
		mobiles: '(max-width: 400px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: (30px, 30px) ),
		conditionals: true,
		containers: 51em,
		breakpoints: (
			normal: (
				containers: 48em,
			),
			narrow: (
				containers: 95%,
				grid: (
					gutters: (30px, 30px)
				),
			),
			narrower: (
				containers: (95%, true),
				grid: (
					gutters: (20px, 20px)
				),
			),
			mobile: (
				containers: (90%, true),
				grid: (
					gutters: (20px, 20px)
				),
			),
			mobilep: (
				containers: (100%, true),
			),
			mobiles: (
				containers: (100%, true)
			)
		)
	));

/* Animations */

	@keyframes pulse {
      0% {
        transform: scale(1) rotate(0deg); 
      }
      50% {
        transform: scale(1.1) rotate(-5deg); 
      }
      100% {
        transform: scale(1) rotate(0deg); 
      }
    }

/* Basic */

	html, body {
		height: 100%;
	}

	body {
		background: _palette(bg);

		&.is-loading {
			* {
				@include vendor('transition', 'none !important');
				@include vendor('animation', 'none !important');
			}
		}
	}

	body, input, select, textarea {
		color: _palette(fg);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		@include vendor('transition', ('color 0.2s ease-in-out', 'border-bottom-color 0.2s ease-in-out'));
		border-bottom: dotted 1px;
		color: _palette(accent1, bg);
		text-decoration: none;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	/* Creacion de la animacion de los iconos del menu */
	.header-promo{
		li{
			padding-right: 22px;
		}

		.cursoPromo{
		  		border-bottom: none;

		  		&:hover{
		  			color: white !important;
		  		}

		  		&:hover i{
		  			visibility: visible;
					left: 0px;
					transition: all 200ms ease;
		  		}

		  		i{
		  			visibility: hidden;
		  			position: relative;
		 			left: -30px;
		  		}
		}

		.active{
			i{
				visibility: visible;
				position: initial;
			}

			a{
				color: white !important;
				font-size: 20px;
			}

		}
	}

	strong, b {
		font-weight: 600;
		color: _palette(fg-bold);
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote, form {
		margin: 0 0 2em 0;
	}

	table p{
		margin: 0 0 0 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: _palette(fg-bold);
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 1.75em;
		margin-bottom: 1em;
		text-transform: uppercase;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h1 {
		font-size: xx-large;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-top: solid 1px _palette(border);
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em _palette(border);
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	.clear{
	clear:both;
	}

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		text-align: center;

		p {
			position: relative;
			top: -1em;
			color: _palette(fg-light);
			text-transform: uppercase;
			letter-spacing: 0.075em;
		}

		&.major {
			border-bottom-width: 1px;
			border-color: _palette(border);
			border-style: solid;
			border-top-width: 1px;
			margin-bottom: 6em;
			padding: 4em 0;
			position: relative;

			&:before,
			&:after {
				background: _palette(border);
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:before {
				top: 10px;
			}

			&:after {
				bottom: 10px;
			}

			h2 {
				margin: 0;
			}

			p {
				top: 0;
				margin: 1.5em 0 0 0;
				padding: 1.5em 1.5em 0 1.5em;
				font-size: 1.5em;
				line-height: 1.75em;
				border-top: solid 1px _palette(border);
				display: inline-block;
			}

			&.last {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;

				&:after {
					display: none;
				}

				h2 {
					margin-bottom: 1em;
				}
			}
		}
	}

	footer {
		text-align: center;

		&.major {
			border-bottom-width: 1px;
			border-color: _palette(border);
			border-style: solid;
			border-top-width: 1px;
			margin-top: 6em;
			padding: 4em 0;
			position: relative;

			&:before,
			&:after {
				background: _palette(border);
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:before {
				top: 10px;
			}

			&:after {
				bottom: 10px;
			}
		}
	}

/* Form */

	label {
		display: block;
		color: _palette(fg-bold);
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 1.75em;
		text-transform: uppercase;
		margin: 0 0 0.5em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		@include vendor('transition', 'background-color 0.2s ease-in-out');
		background: none;
		border-radius: _size(border-radius);
		border: 0;
		border: solid 1px _palette(border);
		color: inherit !important;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		opacity: 1;

		&:focus {
			background: _palette(border-bg);
			border-color: _palette(accent1, bg);
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select {
		line-height: 1em;
	}

	textarea {
		padding: 0.5em 0.75em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: transparentize(_palette(fg), 0.5) !important;
	}

	.g-recaptcha{
		text-align: center;

		div:first-child{
			width: unset !important;
		}
	}

	#formLOPD{
		font-size: 12px;
		display: inline;
	}

	label[class="error"]{
		margin-bottom: 0;
		color: red;
		font-size: 10px;
	}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;

		&:after {
			@include vendor('transition', 'opacity 0.25s ease-in-out');
			background-image: url('images/overlay.png');
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.2;
			position: absolute;
			top: 0;
			width: 100%;
		}

		img {
			display: block;
		}

		&.fit {
			display: block;

			img {
				display: block;
				width: 100%;
			}
		}

		&.feature {
			display: block;
			margin: 0 0 2em 0;

			img {
				display: block;
				width: 100%;
			}
		}

		&.icon {
			@include vendor('perspective', '500px');

			&:before {
				@include vendor('transition', ('transform 0.1s ease-in-out', 'font-size 0.1s ease-in-out'));
				color: #fff;
				font-size: 6em;
				height: 1em;
				left: 50%;
				line-height: 1em;
				margin: -0.5em 0 0 -0.5em;
				position: absolute;
				text-align: center;
				top: 50%;
				width: 1em;
				z-index: 1;
			}

			&:hover {
				&:before {
					@include vendor('transform', 'translateZ(1em)');
				}

				&:after {
					opacity: 1;
				}
			}
		}
	}

	span.image.icon {
		cursor: default;
	}

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

/* List */

	ol {
		&.default {
			list-style: decimal;
			padding-left: 1.25em;

			li {
				padding-left: 0.25em;
			}
		}
	}

	ul {

		list-style: none;
		
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}

		&.icons {
			cursor: default;

			li {
				display: inline-block;
				font-size: 1.25em;
				line-height: 1em;
				padding-left: 0.5em;

				&:first-child {
					padding-left: 0;
				}

				a, span {
					@include vendor('transition', 'background-color 0.2s ease-in-out');
					border-radius: 100%;
					border: solid 1px _palette(border);
					display: inline-block;
					height: 2em;
					line-height: 2em;
					text-align: center;
					width: 2em;

					&:hover {
						background: _palette(border-bg);
					}
				}
			}
		}

		&.actions {
			cursor: default;
			text-align: center;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				display: inline-block;
				padding: 0 0 0 1.5em;

				&:first-child {
					padding: 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: 1.5em 0 0 0;

					&:first-child {
						padding: 0;
					}
				}
			}
		}
	}

/* Table */

	.table-wrapper {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	table {
		width: 100%;

		&.default {
			width: 100%;

			tbody {

				tr {
					border-bottom: solid 1px _palette(border);

					&:nth-child(2n - 1) {
						background: _palette(border-bg);
					}
				}

			}

			td {
				padding: 0.5em 1em 0.5em 1em;
				
			}

			th {
				color: _palette(fg-bold);
				font-size: 0.8em;
				font-weight: 700;
				letter-spacing: 0.125em;
				line-height: 1.75em;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
				text-transform: uppercase;
			}

			thead {
				border-bottom: solid 1px _palette(border);
			}
		}
	}
	
	tbody{
		tr:first-child{
			font-weight: bold;

		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', ('color 0.2s ease-in-out', 'background-color 0.2s ease-in-out'));
		background: _palette(accent2, bg);
		border-radius: _size(border-radius);
		border: 0;
		color: _palette(accent2, fg-bold);
		cursor: pointer;
		display: inline-block;
		font-size: 0.9em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 3.25em;
		min-width: 15em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background: lighten(_palette(accent2, bg), 10);
		}

		&:active {
			background: darken(_palette(accent2, bg), 5);
		}

		&.alt {
			background: none;
			box-shadow: inset 0 0 0 1px _palette(border);
			color: _palette(accent2, bg);

			&:hover {
				background: _palette(border-bg);
			}

			&:active {
				background: _palette(border-bg2);
			}
		}

		&.fit {
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}
	}

/* Box */

	.box {
		background: _palette(bg);
		border: solid 1px _palette(border);
		margin-bottom: 6em;
		padding: 1.5em;

		&.alt {
			background: none;
			border: none;
			padding: 0;
		}
	}

/* Feature */

	.feature {
		position: relative;
		height: 20em;

		&:after {
			clear: both;
			content:'';
			display: block;
		}

		h3, h4, h5, h6 {
			text-align: inherit;
		}

		.image {
			display: inline-block;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 50%;

			img {
				display: block;
				min-height: 100%;
				min-width: 100%;
				position: absolute;
			}
		}

		&:before {
			background: blue;
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		.content {
			display: inline-block;
			padding: 3.5em;
			vertical-align: middle;
			width: 48%;

			h3 {
				margin-bottom: 0.5em;
			}

			:last-child {
				margin: 0;
			}
		}

		&.left {
			text-align: left;

			.image {
				float: left;

				img {
					right: 0;
					top: 0;
				}
			}

			.content {
				padding-right: 0;
			}
		}

		&.right {
			text-align: right;

			li{
				text-align:	right;
			}

			.image {
				float: right;

				img {
					left: 0;
					top: 0;
				}
			}

			.content {
				padding-left: 0;
			}
		}

		&.long {
			.content {
				padding-top: 0;
			}
		}
	}

/* Header */

	#header {
		background-attachment:		scroll,							scroll,					fixed;
		background-image:			url('images/top-3200.svg'),		url('images/overlay.png'),		url('../../images/header.jpg');
		background-position:		bottom center,					top left,				center center;
		background-repeat:			repeat-x,						repeat,					no-repeat;
		background-size:			3200px 460px,					auto,					cover;
		color: _palette(accent2, fg);
		padding: 3em 0 9em 0;
		position: relative;
		text-align: center;

		&:before,
		&:after {
			background: _palette(border);
			content: '';
			left: 50%;
			position: absolute;
			width: 1px;
			z-index: 0;
		}

		&:before {
			height: calc(100% - 50px);
			opacity: 0.15;
			top: 0;
		}

		&:after {
			bottom: 0;
			height: 50px;
		}

		a {
			border-bottom-color: _palette(accent2, fg-light);
			color: _palette(accent2, fg);

			&:hover {
				border-bottom-color: transparent;
				color: _palette(accent1, bg);
			}
		}

		strong, b {
			color: _palette(accent2, fg-bold);
		}

		h1, h2, h3, h4, h5, h6 {
			color: _palette(accent2, fg-bold);
		}

		li {
			list-style: none;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {
			background: _palette(accent2, fg-bold);
			color: _palette(accent2, bg);
		}

		input[disabled="disabled"]{
			color: white;
			opacity: 0.6;
			background: grey;
			cursor: default;

			&:hover {
				background: grey;
				color: white;
			}
		}

		.logo {
			cursor: pointer !important;
			background: _palette(accent1, bg);
			border-radius: 100%;
			color: _palette(accent1, fg-bold);
			cursor: default;
			display: inline-block;
			font-size: 2.25em;
			height: 2.35em;
			line-height: 2.35em;
			margin: 0 0 0.75em 0;
			text-align: center;
			width: 2.35em;
			background-image: 		url('../../images/logo.png');
			background-size:		80%;
			background-position:	center center;
			background-repeat:		no-repeat;

			&:hover {
				-webkit-animation: pulse 1s ease 0s infinite normal;
			    -o-animation: pulse 1s ease 0s infinite normal;
			    -moz-animation: pulse 1s ease 0s infinite normal;
			    animation: pulse 1s ease 0s infinite normal;
			}

		}

		h1 {
			font-size: 2.5em;
			margin: 0;
		}

		p {
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0.25em 0 0 0;
		}

		.header-promo{
			width: 30%;
			float: left;
		}

		#header-centro{
			width: 40%;
			float: left;

			a{
				border: 0px;
			}

			.info{
				font-size: 0.7em;
			}

			#menu{
					display: none;
			}

		}

		i{
			border: 0px;

		}

		#header-contacto{
		    font-weight: 700;
    		letter-spacing: 0.125em;
   		 	line-height: 1.75em;
    		text-transform: uppercase;
		}
	}

	.informatica{
		background-image: url('../../images/header-informatica-trans.png') !important;
		background-size: cover !important;
		background-position-y : -80px !important;
	}

	.jardineria{

		background-image:			url('images/top-3200.svg'),		url('images/overlay.png'),		url('../../images/header-jardineria.jpg') !important;
	}

	.dam{
				background-image:			url('images/top-1600.svg'),		url('images/overlay.png'),		url('../../images/header-dam.jpg') !important;
	}

	.forestal{
				background-image:			url('images/top-1600.svg'),		url('images/overlay.png'),		url('../../images/header-forestal.jpeg') !important;
	}

/* Footer */

	#footer {
		background-attachment:		scroll;
		background-color:			_palette(accent1, bg);
		background-image:			url('images/bottom-3200.svg');
		background-position:		top center;
		background-repeat:			repeat-x;
		background-size:			3200px 460px;
		color: _palette(accent1, fg);

		/*
			Since the SVG background occupies a lot of vertical space, we'll
			add additional top padding (to move our content out of its way)
			and a negative margin (to move everything up a bit).
		*/
		margin-top: -250px;
		padding: calc(460px + 6em) 0 2em 0;

		position: relative;
		text-align: center;

		&:before {
			background: _palette(border);
			content: '';
			height: calc(460px + 6em);
			left: 50%;
			position: absolute;
			top: 0;
			width: 1px;
			z-index: 0;
		}

		a {
			color: _palette(accent1, fg-bold);
		}

		strong, b {
			color: _palette(accent1, fg-bold);
		}

		h1, h2, h3, h4, h5, h6 {
			color: _palette(accent1, fg-bold);
		}

		header {
			p {
				color: _palette(accent1, fg-light);
			}
		}

		.g-recaptcha > div{
			margin:0 auto;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {
			background: _palette(accent1, fg-bold);
			box-shadow: inset 0 0 0 1px _palette(accent1, fg-bold);
			color: _palette(accent1, bg);

			&:hover {
				background: _palette(border-bg);
				color: _palette(accent1, fg-bold);
			}
		}

		input[disabled="disabled"] {
			color: white;
			opacity: 0.6;
			background: grey;
			cursor: default;

			&:hover {
				background: grey;
				color: white;
			}
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		select,
		textarea {
			&:focus {
				border-color: _palette(accent1, fg-bold);
			}
		}

		input:focus:valid{
			border-color: white;
		}

		input:focus:invalid, textarea:focus:invalid{
			border-color: red;
		}

		.formerize-placeholder {
			color: transparentize(_palette(accent1, fg), 0.5) !important;
		}

		form {
			margin: 3em 0;
		}

		.copyright {
			color: _palette(accent1, fg-light);
			font-size: 0.8em;
			line-height: 1em;
			margin: 3em 0 0 0;

			li {
				border-left: dotted 1px;
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;

				&:first-child {
					padding: 0;
					margin: 0;
					border: 0;
				}

				a, span {
					color: inherit;

					&:hover {
						color: _palette(accent1, fg-bold);
					}
				}
			}
		}
	}

/* Main */

	#main {
		padding: 0em 0 0em 0;
		position: relative;
		z-index: 1;

		&:before {
			background: _palette(border);
			content: '';
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			width: 1px;
			z-index: -1;
		}

		header.major,
		footer.major {
			background: _palette(bg);
		}
		.landingBody{
			width: 64% !important;
			float: left;

			#promoFP{
				width: 100%;
				height: 500px;
			}
		}

		.sideContact{
			width: 34%;
			float: right;
			margin-left: 2%;

		}

	}

.infoHead{

			background-color: #1B310F;
			padding: 10px 40px 10px 40px;

			img{
				float: left;
				height: 2em;
				margin-right: 10px;
			}

			p{
					float: left;
					color: white;
					margin:0 !important;
					font-size: smaller;
				}

			.iconsHead{
				float: right;
				margin:0 !important;

				a{
					color:white !important;
				}

				li{
					font-size: initial !important;
				}
			}
		}

/* Menu */

	/* The side navigation menu */
	.sidenav {

	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 3; /* Stay on top */
	    top: 0; /* Stay at the top */
	    left: 0;
	    background-color: rgba(0, 0, 0, 0.85); /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

	    a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 1em;
		    display: block;
		    transition: 0.3s;
		    border-bottom: 0px;
		    color: #5b5b5b;
    		font-weight: 700;
		}

		a:hover {
	    	color: #f1f1f1;
		}

		.active{
			color:white;
			font-size:1.2em;
		}

		.closebtn {
		    position: absolute;
		    top: 0;
		    right: 25px;
		    font-size: 36px;
		    margin-left: 50px;
		}

		.homebtn {
		    position: absolute;
		    top: 0;
		    font-size: 26px;
		}

		h3{
			font-size: 1.5em;
			margin-bottom: 0;
		}

		ul{
			margin-bottom: 0;
		}

	}

/* Others */

	#logos-educacion{

		display: -webkit-flex;
 	 	display:         flex;
        -webkit-align-items: center;
                align-items: center;
        -webkit-justify-content: center;
                justify-content: center;
        width: 50%;
        margin-left: 25%;

	}

	#main #logos-educacion img{
		width:49.7%;
	}

	#modalidades .modalidad{
		width: 	49.4%;
		float: 	left;
	}

	#presencial{
		margin-right: 	1%;
		border-right:	solid 1px rgba(224, 224, 224, 0.75);
	}

	#cookies{
		text-align: center;
		z-index: 1;
		position: fixed;
		bottom: 0;

		padding: 1em;
	    width: 100%;

	    line-height: 1.8;
	    background-color: rgba(137, 137, 137, 0.5);
	    color: white;
	    font-size: small;

	    p{
	    	width: 70%;
	    	margin-left: auto;
	    	margin-right: auto;
	    	margin-bottom: 1em;
	    }
	}
/* Wide */

	@include breakpoint(wide) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
			}

			h2 {
				font-size: 1.5em;
			}

			h3 {
				font-size: 1.25em;
			}

		/* Section/Article */

			header {
				&.major {
					p {
						font-size: 1.25em;
					}
				}
			}

		/* Header */

			#header {
				padding: 3em 0 9em 0;

				h1 {
					font-size: 2.25em;
				}

				p {

					font-size: 1.25em;
					line-height: 1.65em;
				}
			}

	}

/* Normal */

	@include breakpoint(normal) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

			h2 {
				font-size: 1.35em;
			}

			h3 {
				font-size: 1.15em;
			}

		/* Section/Article */

			header {
				&.major {
					margin-bottom: 4em;
					padding: 3em 0;

					p {
						font-size: 1.15em;
					}
				}
			}

			footer {
				&.major {
					margin-top: 4em;
					padding: 3em 0;
				}
			}

		/* Box */

			.box {
				padding: 1.2em;
				margin-bottom: 4em;
			}

		/* Feature */

			.feature {
				height: 18em;

				.content {
					padding: 2.5em;
				}
			}

		/* Header */

			#header {
				background-attachment:		scroll,							scroll,							scroll;
				background-image:			url('images/top-1600.svg'),		url('images/overlay.png'),		url('../../images/header.jpg');
				background-size:			1600px 230px,					auto,							cover;
				padding: 6em 0 12em 0;

				&:before {
					height: calc(100% - 25px);
				}

				&:after {
					height: 25px;
				}

				h1 {
					font-size: 2em;
				}

				#menu{
					display: none;
				}

				.logo {
					
					&:before{
						content:'';
						position: absolute;
						top: 0px;
						left: 0px;
						width: 0px;
						height: 42px;
						background: rgba(255,255,255,0.3);
						border-radius: 5px;
						transition: all 2s ease;
					}

					&:hover {
						-webkit-animation: pulse 1s ease 0s infinite normal;
					    -o-animation: pulse 1s ease 0s infinite normal;
					    -moz-animation: pulse 1s ease 0s infinite normal;
					    animation: pulse 1s ease 0s infinite normal;
					}

				}

				p {
					font-size: 1.15em;
				}
			}

		/* Footer */

			#footer {
				background-image:			url('images/bottom-1600.svg');
				background-size:			1600px 230px;
				margin-top: -100px;
				padding: calc(230px + 4em) 0 6em 0;

				&:before {
					height: calc(230px + 4em);
				}
			}

		/* Main */

			#main {
				padding: 0em 0 3em 0;
			}

	}

/* Narrow */

	@include breakpoint(narrow) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

		/* Header */

			#header{

				.header-promo{
					display: none;
				}

				#header-centro{
					width: 100%;
				}

				#menu{
					position:absolute;
					top: 59.5px;
    				left: 90px;

    				.fa-bars {
							padding: 0.5em;
							border-radius: 200px 200px 200px 200px;
							-moz-border-radius: 200px 200px 200px 200px;
							-webkit-border-radius: 200px 200px 200px 200px;
					}

				}

			}

			#main .landingBody{
				width: initial !important;
			}

			#main .sideContact{
				width: initial;
				float: none;
				margin-left: 0;
			}

			.infoHead{
				text-align: center;
				background-color: #1B310F;
				padding: 10px 40px 10px 40px;

				p{
					float: none;
					color: white;
					font-size: smaller;
				}

				img{
					float:none;
				}

				.iconsHead{
					float: none;
					margin:0 !important;
					text-align: center;

					a{
						color:white !important;
					}

					li{
						font-size: initial !important;
					}
				}
		}

	}

/* Narrower */

	@include breakpoint(narrower) {

		/* Section/Article */

			header {
				&.major {
					padding-left: 2em;
					padding-right: 2em;
				}
			}

			footer {
				&.major {
					padding-left: 2em;
					padding-right: 2em;
				}
			}

		/* Header */

			#header {
				background-image:			url('images/top-1280.svg'),			url('images/overlay.png'),		url('../../images/header.jpg');
				background-size:			1280px 184px,						auto,							cover;
				padding: 3em 0 7em 0;

				&:before {
					height: calc(100% - 20px);
				}

				&:after {
					height: 20px;
				}

				.header-promo{
					display: none;
				}

				#header-centro{
					width: 100%;

					#menu{
						display: inline;
						position: absolute;
						top: 59.5px;
	    				left: 250px;

	    				#top{
	    					visibility: hidden;
	    				}

	    				.fa-bars {
							padding: 0.5em;
							border-radius: 200px 200px 200px 200px;
							-moz-border-radius: 200px 200px 200px 200px;
							-webkit-border-radius: 200px 200px 200px 200px;
						}

					}

				}

				.logo {
					font-size: 1.5em;
					
					&:before{
						content:'';
						position: absolute;
						top: 0px;
						left: 0px;
						width: 0px;
						height: 42px;
						background: rgba(255,255,255,0.3);
						border-radius: 5px;
						transition: all 2s ease;
					}

					&:hover {
						-webkit-animation: pulse 1s ease 0s infinite normal;
					    -o-animation: pulse 1s ease 0s infinite normal;
					    -moz-animation: pulse 1s ease 0s infinite normal;
					    animation: pulse 1s ease 0s infinite normal;
					}
				}

				h1 {
					font-size: 1.25em;
				}

				p {
					font-size: 1em;
				}
			}

			h1{
				font-size:large;
			}

	}

/* Mobile */

	@include breakpoint(mobile) {

		/* Basic */

			h2 {
				font-size: 1em;
			}

			h3 {
				font-size: 1em;
			}

		/* Section/Article */

			header {
				p {
					font-size: 0.8em;
				}

				&.major {
					margin-bottom: 2em;

					br {
						display: none;
					}

					p {
						font-size: 0.8em;
					}
				}
			}

			footer {
				&.major {
					margin-top: 2em;

					br {
						display: none;
					}
				}
			}

		/* List */

			ul {
				&.actions {
					li {
						padding: 0 0 0 15px;
					}

					&.vertical {
						li {
							padding: 15px 0 0 0;
						}
					}
				}
			}

		/* Box */

			.box {
				padding: 2em;
				margin-bottom: 2em;
			}

		/* Feature */

			.feature {
				background: _palette(bg);
				display: block;
				height: auto;
				margin-bottom: 2em;

				&:last-child {
					margin-bottom: 0;
				}

				&:before,
				&:after {
					display: none;
				}

				.image {
					float: none;
					height: 15em;
					width: 100%;
				}

				.content {
					border: solid 1px _palette(border);
					padding: 2em !important;
					text-align: center;
					width: 100%;
				}
			}

		/* Header */

			#header {
				background-image:			url('images/top-1280.svg'),			url('images/overlay.png'),		url('../../images/header.jpg');
				background-size:			1280px 184px,						auto,							cover;
				padding: 3em 0 7em 0;

				&:before {
					height: calc(100% - 20px);
				}

				&:after {
					height: 20px;
				}

				.header-promo{
					display: none;
				}

				#header-centro{
					width: 100%;

					#menu{
						display: inline;
						position: absolute;
						top: 59.5px;
	    				left: 80px;

	    				#top{
	    					visibility: hidden;
	    				}

	    				.fa-bars {
							padding: 0.5em;
							border-radius: 200px 200px 200px 200px;
							-moz-border-radius: 200px 200px 200px 200px;
							-webkit-border-radius: 200px 200px 200px 200px;
						}

					}

				}

				.logo {
					font-size: 1.5em;
					
					&:before{
						content:'';
						position: absolute;
						top: 0px;
						left: 0px;
						width: 0px;
						height: 42px;
						background: rgba(255,255,255,0.3);
						border-radius: 5px;
						transition: all 2s ease;
					}

					&:hover {
						-webkit-animation: pulse 1s ease 0s infinite normal;
					    -o-animation: pulse 1s ease 0s infinite normal;
					    -moz-animation: pulse 1s ease 0s infinite normal;
					    animation: pulse 1s ease 0s infinite normal;
					}
				}

				h1 {
					font-size: 1.25em;
				}

				p {
					font-size: 1em;
				}
			}

			.informatica {
				background-image:			url('images/top-1280.svg'),			url('images/overlay.png'),		url('../../images/header-informatica.jpg') !important;
			}

		/* Footer */

			#footer {
				background-image:			url('images/bottom-1280.svg');
				background-size:			1280px 184px;
				margin-top: -75px;
				padding: calc(184px + 2em) 0 2em 0;

				&:before {
					height: calc(184px + 2em);
				}

				form {
					padding-bottom: 0;
				}
			}

		/* Main */

			#main {
				padding: 0em 0 2em 0;
			}

		/* Other */

			#modalidades .modalidad{
				width: 	100%;
			}

			#presencial{
				margin-right: 	0;
				border-right: 	0;
				border-bottom:	solid 1px rgba(224, 224, 224, 0.75);
			}

			h1{
				font-size:large;
			}

	}

/* Mobile (Portrait) */

	@include breakpoint(mobilep) {

		/* Section/Article */

			header {
				&.major {
					padding-left: 1em;
					padding-right: 1em;
				}

				.header-promo{
					display: none;
				}

				#header-centro{
					width: 100%;
				}

				#menu{
					display: inline;
					position: absolute;
					top: 59.5px;
    				left: 90px;

    				#top{
	    					visibility: hidden;
	    				}

	    				.fa-bars {
							padding: 0.5em;
							border-radius: 200px 200px 200px 200px;
							-moz-border-radius: 200px 200px 200px 200px;
							-webkit-border-radius: 200px 200px 200px 200px;
						}

				}

			}

			footer {
				&.major {
					padding-left: 1em;
					padding-right: 1em;
				}
			}

		/* List */

			ul {
				&.icons {
					li {
						padding: 0.2em;
					}
				}

				&.actions {
					li {
						display: block;
						padding: 15px 0 0 0;

						&:first-child {
							padding: 0;
						}
					}
				}
			}

		/* Button */

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			.button {
				display: block;
				width: 100%;
			}

		/* Box */

			.box {
				padding: 2em 1em;
			}

		/* Feature */

			.feature {
				margin-bottom: 1em;

				.content {
					padding: 2em 1em !important;
				}
			}

		/* Main */

			#main {
				padding-left: 1em;
				padding-right: 1em;
			}

		/* Footer */

			#footer {
				margin-top: -100px;
				padding-left: 1em;
				padding-right: 1em;

				.copyright {
					li {
						border: 0;
						display: block;
						margin: 0;
						padding: 0.75em 0 0 0;
					}
				}
			}

		/* Header */

			#header {
				padding-left: 2em;
				padding-right: 2em;

				br {
					display: none;
				}
			}

	}

	/* Mobile Small */

	@include breakpoint(mobiles) {

		.g-recaptcha {
			transform:scale(0.84);-webkit-transform:scale(0.84);
			transform-origin:0 0;-webkit-transform-origin:0 0;
		}

	}