@charset "UTF-8";
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
/*
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Containers */
.container {
  margin-left: auto;
  margin-right: auto; }

.container.\31 25\25 {
  width: 100%;
  max-width: 63.75em;
  min-width: 51em; }

.container.\37 5\25 {
  width: 38.25em; }

.container.\35 0\25 {
  width: 25.5em; }

.container.\32 5\25 {
  width: 12.75em; }

.container {
  width: 51em; }

@media screen and (max-width: 1680px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 63.75em;
    min-width: 51em; }

  .container.\37 5\25 {
    width: 38.25em; }

  .container.\35 0\25 {
    width: 25.5em; }

  .container.\32 5\25 {
    width: 12.75em; }

  .container {
    width: 51em; } }
@media screen and (max-width: 1280px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 60em;
    min-width: 48em; }

  .container.\37 5\25 {
    width: 36em; }

  .container.\35 0\25 {
    width: 24em; }

  .container.\32 5\25 {
    width: 12em; }

  .container {
    width: 48em; } }
@media screen and (max-width: 980px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95%; } }
@media screen and (max-width: 840px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%; }

  .container.\37 5\25 {
    width: 71.25%; }

  .container.\35 0\25 {
    width: 47.5%; }

  .container.\32 5\25 {
    width: 23.75%; }

  .container {
    width: 95% !important; } }
@media screen and (max-width: 736px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%; }

  .container.\37 5\25 {
    width: 67.5%; }

  .container.\35 0\25 {
    width: 45%; }

  .container.\32 5\25 {
    width: 22.5%; }

  .container {
    width: 90% !important; } }
@media screen and (max-width: 480px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
@media screen and (max-width: 400px) {
  .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%; }

  .container.\37 5\25 {
    width: 75%; }

  .container.\35 0\25 {
    width: 50%; }

  .container.\32 5\25 {
    width: 25%; }

  .container {
    width: 100% !important; } }
/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0; }

.row.uniform > * > :first-child {
  margin-top: 0; }

.row.uniform > * > :last-child {
  margin-bottom: 0; }

.row.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row.uniform.\30 \25  > * {
  padding: 0px 0 0 0px; }

.row.uniform.\30 \25 {
  margin: 0px 0 -1px 0px; }

.row > * {
  padding: 15px 0 0 30px; }

.row {
  margin: -30px 0 -1px -30px; }

.row.uniform > * {
  padding: 30px 0 0 30px; }

.row.uniform {
  margin: -30px 0 -1px -30px; }

.row.\32 00\25  > * {
  padding: 30px 0 0 60px; }

.row.\32 00\25 {
  margin: -60px 0 -1px -60px; }

.row.uniform.\32 00\25  > * {
  padding: 60px 0 0 60px; }

.row.uniform.\32 00\25 {
  margin: -60px 0 -1px -60px; }

.row.\31 50\25  > * {
  padding: 22.5px 0 0 45px; }

.row.\31 50\25 {
  margin: -45px 0 -1px -45px; }

.row.uniform.\31 50\25  > * {
  padding: 45px 0 0 45px; }

.row.uniform.\31 50\25 {
  margin: -45px 0 -1px -45px; }

.row.\35 0\25  > * {
  padding: 7.5px 0 0 15px; }

.row.\35 0\25 {
  margin: -15px 0 -1px -15px; }

.row.uniform.\35 0\25  > * {
  padding: 15px 0 0 15px; }

.row.uniform.\35 0\25 {
  margin: -15px 0 -1px -15px; }

.row.\32 5\25  > * {
  padding: 3.75px 0 0 7.5px; }

.row.\32 5\25 {
  margin: -7.5px 0 -1px -7.5px; }

.row.uniform.\32 5\25  > * {
  padding: 7.5px 0 0 7.5px; }

.row.uniform.\32 5\25 {
  margin: -7.5px 0 -1px -7.5px; }

.\31 2u, .\31 2u\24 {
  width: 100%;
  clear: none;
  margin-left: 0; }

.\31 1u, .\31 1u\24 {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 0u, .\31 0u\24 {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0; }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0; }

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0; }

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0; }

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0; }

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0; }

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0; }

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0; }

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0; }

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0; }

.\31 2u\24  + *,
.\31 1u\24  + *,
.\31 0u\24  + *,
.\39 u\24  + *,
.\38 u\24  + *,
.\37 u\24  + *,
.\36 u\24  + *,
.\35 u\24  + *,
.\34 u\24  + *,
.\33 u\24  + *,
.\32 u\24  + *,
.\31 u\24  + * {
  clear: left; }

.\-11u {
  margin-left: 91.6666666667%; }

.\-10u {
  margin-left: 83.3333333333%; }

.\-9u {
  margin-left: 75%; }

.\-8u {
  margin-left: 66.6666666667%; }

.\-7u {
  margin-left: 58.3333333333%; }

.\-6u {
  margin-left: 50%; }

.\-5u {
  margin-left: 41.6666666667%; }

.\-4u {
  margin-left: 33.3333333333%; }

.\-3u {
  margin-left: 25%; }

.\-2u {
  margin-left: 16.6666666667%; }

.\-1u {
  margin-left: 8.3333333333%; }

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 15px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 30px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 22.5px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 7.5px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 3.75px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28wide\29, .\31 2u\24\28wide\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28wide\29, .\31 1u\24\28wide\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28wide\29, .\31 0u\24\28wide\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28wide\29, .\39 u\24\28wide\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28wide\29, .\38 u\24\28wide\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28wide\29, .\37 u\24\28wide\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28wide\29, .\36 u\24\28wide\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28wide\29, .\35 u\24\28wide\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28wide\29, .\34 u\24\28wide\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28wide\29, .\33 u\24\28wide\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28wide\29, .\32 u\24\28wide\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28wide\29, .\31 u\24\28wide\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28wide\29  + *,
  .\31 1u\24\28wide\29  + *,
  .\31 0u\24\28wide\29  + *,
  .\39 u\24\28wide\29  + *,
  .\38 u\24\28wide\29  + *,
  .\37 u\24\28wide\29  + *,
  .\36 u\24\28wide\29  + *,
  .\35 u\24\28wide\29  + *,
  .\34 u\24\28wide\29  + *,
  .\33 u\24\28wide\29  + *,
  .\32 u\24\28wide\29  + *,
  .\31 u\24\28wide\29  + * {
    clear: left; }

  .\-11u\28wide\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28wide\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28wide\29 {
    margin-left: 75%; }

  .\-8u\28wide\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28wide\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28wide\29 {
    margin-left: 50%; }

  .\-5u\28wide\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28wide\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28wide\29 {
    margin-left: 25%; }

  .\-2u\28wide\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28wide\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 1280px) {
  .row > * {
    padding: 15px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 30px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 22.5px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 7.5px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 3.75px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28normal\29, .\31 2u\24\28normal\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28normal\29, .\31 1u\24\28normal\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28normal\29, .\31 0u\24\28normal\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28normal\29, .\39 u\24\28normal\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28normal\29, .\38 u\24\28normal\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28normal\29, .\37 u\24\28normal\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28normal\29, .\36 u\24\28normal\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28normal\29, .\35 u\24\28normal\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28normal\29, .\34 u\24\28normal\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28normal\29, .\33 u\24\28normal\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28normal\29, .\32 u\24\28normal\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28normal\29, .\31 u\24\28normal\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28normal\29  + *,
  .\31 1u\24\28normal\29  + *,
  .\31 0u\24\28normal\29  + *,
  .\39 u\24\28normal\29  + *,
  .\38 u\24\28normal\29  + *,
  .\37 u\24\28normal\29  + *,
  .\36 u\24\28normal\29  + *,
  .\35 u\24\28normal\29  + *,
  .\34 u\24\28normal\29  + *,
  .\33 u\24\28normal\29  + *,
  .\32 u\24\28normal\29  + *,
  .\31 u\24\28normal\29  + * {
    clear: left; }

  .\-11u\28normal\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28normal\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28normal\29 {
    margin-left: 75%; }

  .\-8u\28normal\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28normal\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28normal\29 {
    margin-left: 50%; }

  .\-5u\28normal\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28normal\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28normal\29 {
    margin-left: 25%; }

  .\-2u\28normal\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28normal\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 980px) {
  .row > * {
    padding: 15px 0 0 30px; }

  .row {
    margin: -30px 0 -1px -30px; }

  .row.uniform > * {
    padding: 30px 0 0 30px; }

  .row.uniform {
    margin: -30px 0 -1px -30px; }

  .row.\32 00\25  > * {
    padding: 30px 0 0 60px; }

  .row.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.uniform.\32 00\25  > * {
    padding: 60px 0 0 60px; }

  .row.uniform.\32 00\25 {
    margin: -60px 0 -1px -60px; }

  .row.\31 50\25  > * {
    padding: 22.5px 0 0 45px; }

  .row.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.uniform.\31 50\25  > * {
    padding: 45px 0 0 45px; }

  .row.uniform.\31 50\25 {
    margin: -45px 0 -1px -45px; }

  .row.\35 0\25  > * {
    padding: 7.5px 0 0 15px; }

  .row.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.uniform.\35 0\25  > * {
    padding: 15px 0 0 15px; }

  .row.uniform.\35 0\25 {
    margin: -15px 0 -1px -15px; }

  .row.\32 5\25  > * {
    padding: 3.75px 0 0 7.5px; }

  .row.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .row.uniform.\32 5\25  > * {
    padding: 7.5px 0 0 7.5px; }

  .row.uniform.\32 5\25 {
    margin: -7.5px 0 -1px -7.5px; }

  .\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrow\29, .\39 u\24\28narrow\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrow\29, .\38 u\24\28narrow\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrow\29, .\37 u\24\28narrow\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrow\29, .\36 u\24\28narrow\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrow\29, .\35 u\24\28narrow\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrow\29, .\34 u\24\28narrow\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrow\29, .\33 u\24\28narrow\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrow\29, .\32 u\24\28narrow\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrow\29, .\31 u\24\28narrow\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrow\29  + *,
  .\31 1u\24\28narrow\29  + *,
  .\31 0u\24\28narrow\29  + *,
  .\39 u\24\28narrow\29  + *,
  .\38 u\24\28narrow\29  + *,
  .\37 u\24\28narrow\29  + *,
  .\36 u\24\28narrow\29  + *,
  .\35 u\24\28narrow\29  + *,
  .\34 u\24\28narrow\29  + *,
  .\33 u\24\28narrow\29  + *,
  .\32 u\24\28narrow\29  + *,
  .\31 u\24\28narrow\29  + * {
    clear: left; }

  .\-11u\28narrow\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28narrow\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28narrow\29 {
    margin-left: 75%; }

  .\-8u\28narrow\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28narrow\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28narrow\29 {
    margin-left: 50%; }

  .\-5u\28narrow\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28narrow\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28narrow\29 {
    margin-left: 25%; }

  .\-2u\28narrow\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28narrow\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 840px) {
  .row > * {
    padding: 10px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 20px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 15px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 5px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 2.5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28narrower\29, .\39 u\24\28narrower\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28narrower\29, .\38 u\24\28narrower\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28narrower\29, .\37 u\24\28narrower\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28narrower\29, .\36 u\24\28narrower\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28narrower\29, .\35 u\24\28narrower\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28narrower\29, .\34 u\24\28narrower\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28narrower\29, .\33 u\24\28narrower\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28narrower\29, .\32 u\24\28narrower\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28narrower\29, .\31 u\24\28narrower\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28narrower\29  + *,
  .\31 1u\24\28narrower\29  + *,
  .\31 0u\24\28narrower\29  + *,
  .\39 u\24\28narrower\29  + *,
  .\38 u\24\28narrower\29  + *,
  .\37 u\24\28narrower\29  + *,
  .\36 u\24\28narrower\29  + *,
  .\35 u\24\28narrower\29  + *,
  .\34 u\24\28narrower\29  + *,
  .\33 u\24\28narrower\29  + *,
  .\32 u\24\28narrower\29  + *,
  .\31 u\24\28narrower\29  + * {
    clear: left; }

  .\-11u\28narrower\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28narrower\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28narrower\29 {
    margin-left: 75%; }

  .\-8u\28narrower\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28narrower\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28narrower\29 {
    margin-left: 50%; }

  .\-5u\28narrower\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28narrower\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28narrower\29 {
    margin-left: 25%; }

  .\-2u\28narrower\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28narrower\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 736px) {
  .row > * {
    padding: 10px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 20px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 15px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 5px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 2.5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28mobile\29, .\39 u\24\28mobile\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28mobile\29, .\38 u\24\28mobile\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28mobile\29, .\37 u\24\28mobile\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28mobile\29, .\36 u\24\28mobile\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28mobile\29, .\35 u\24\28mobile\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28mobile\29, .\34 u\24\28mobile\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28mobile\29, .\33 u\24\28mobile\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28mobile\29, .\32 u\24\28mobile\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28mobile\29, .\31 u\24\28mobile\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28mobile\29  + *,
  .\31 1u\24\28mobile\29  + *,
  .\31 0u\24\28mobile\29  + *,
  .\39 u\24\28mobile\29  + *,
  .\38 u\24\28mobile\29  + *,
  .\37 u\24\28mobile\29  + *,
  .\36 u\24\28mobile\29  + *,
  .\35 u\24\28mobile\29  + *,
  .\34 u\24\28mobile\29  + *,
  .\33 u\24\28mobile\29  + *,
  .\32 u\24\28mobile\29  + *,
  .\31 u\24\28mobile\29  + * {
    clear: left; }

  .\-11u\28mobile\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28mobile\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28mobile\29 {
    margin-left: 75%; }

  .\-8u\28mobile\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28mobile\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28mobile\29 {
    margin-left: 50%; }

  .\-5u\28mobile\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28mobile\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28mobile\29 {
    margin-left: 25%; }

  .\-2u\28mobile\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28mobile\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 480px) {
  .row > * {
    padding: 10px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 20px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 15px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 5px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 2.5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28mobilep\29, .\31 2u\24\28mobilep\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28mobilep\29, .\31 1u\24\28mobilep\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28mobilep\29, .\31 0u\24\28mobilep\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28mobilep\29, .\39 u\24\28mobilep\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28mobilep\29, .\38 u\24\28mobilep\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28mobilep\29, .\37 u\24\28mobilep\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28mobilep\29, .\36 u\24\28mobilep\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28mobilep\29, .\35 u\24\28mobilep\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28mobilep\29, .\34 u\24\28mobilep\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28mobilep\29, .\33 u\24\28mobilep\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28mobilep\29, .\32 u\24\28mobilep\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28mobilep\29, .\31 u\24\28mobilep\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28mobilep\29  + *,
  .\31 1u\24\28mobilep\29  + *,
  .\31 0u\24\28mobilep\29  + *,
  .\39 u\24\28mobilep\29  + *,
  .\38 u\24\28mobilep\29  + *,
  .\37 u\24\28mobilep\29  + *,
  .\36 u\24\28mobilep\29  + *,
  .\35 u\24\28mobilep\29  + *,
  .\34 u\24\28mobilep\29  + *,
  .\33 u\24\28mobilep\29  + *,
  .\32 u\24\28mobilep\29  + *,
  .\31 u\24\28mobilep\29  + * {
    clear: left; }

  .\-11u\28mobilep\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28mobilep\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28mobilep\29 {
    margin-left: 75%; }

  .\-8u\28mobilep\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28mobilep\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28mobilep\29 {
    margin-left: 50%; }

  .\-5u\28mobilep\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28mobilep\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28mobilep\29 {
    margin-left: 25%; }

  .\-2u\28mobilep\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28mobilep\29 {
    margin-left: 8.3333333333%; } }
@media screen and (max-width: 400px) {
  .row > * {
    padding: 10px 0 0 20px; }

  .row {
    margin: -20px 0 -1px -20px; }

  .row.uniform > * {
    padding: 20px 0 0 20px; }

  .row.uniform {
    margin: -20px 0 -1px -20px; }

  .row.\32 00\25  > * {
    padding: 20px 0 0 40px; }

  .row.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.uniform.\32 00\25  > * {
    padding: 40px 0 0 40px; }

  .row.uniform.\32 00\25 {
    margin: -40px 0 -1px -40px; }

  .row.\31 50\25  > * {
    padding: 15px 0 0 30px; }

  .row.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.uniform.\31 50\25  > * {
    padding: 30px 0 0 30px; }

  .row.uniform.\31 50\25 {
    margin: -30px 0 -1px -30px; }

  .row.\35 0\25  > * {
    padding: 5px 0 0 10px; }

  .row.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.uniform.\35 0\25  > * {
    padding: 10px 0 0 10px; }

  .row.uniform.\35 0\25 {
    margin: -10px 0 -1px -10px; }

  .row.\32 5\25  > * {
    padding: 2.5px 0 0 5px; }

  .row.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .row.uniform.\32 5\25  > * {
    padding: 5px 0 0 5px; }

  .row.uniform.\32 5\25 {
    margin: -5px 0 -1px -5px; }

  .\31 2u\28mobiles\29, .\31 2u\24\28mobiles\29 {
    width: 100%;
    clear: none;
    margin-left: 0; }

  .\31 1u\28mobiles\29, .\31 1u\24\28mobiles\29 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 0u\28mobiles\29, .\31 0u\24\28mobiles\29 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0; }

  .\39 u\28mobiles\29, .\39 u\24\28mobiles\29 {
    width: 75%;
    clear: none;
    margin-left: 0; }

  .\38 u\28mobiles\29, .\38 u\24\28mobiles\29 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0; }

  .\37 u\28mobiles\29, .\37 u\24\28mobiles\29 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0; }

  .\36 u\28mobiles\29, .\36 u\24\28mobiles\29 {
    width: 50%;
    clear: none;
    margin-left: 0; }

  .\35 u\28mobiles\29, .\35 u\24\28mobiles\29 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0; }

  .\34 u\28mobiles\29, .\34 u\24\28mobiles\29 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0; }

  .\33 u\28mobiles\29, .\33 u\24\28mobiles\29 {
    width: 25%;
    clear: none;
    margin-left: 0; }

  .\32 u\28mobiles\29, .\32 u\24\28mobiles\29 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0; }

  .\31 u\28mobiles\29, .\31 u\24\28mobiles\29 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0; }

  .\31 2u\24\28mobiles\29  + *,
  .\31 1u\24\28mobiles\29  + *,
  .\31 0u\24\28mobiles\29  + *,
  .\39 u\24\28mobiles\29  + *,
  .\38 u\24\28mobiles\29  + *,
  .\37 u\24\28mobiles\29  + *,
  .\36 u\24\28mobiles\29  + *,
  .\35 u\24\28mobiles\29  + *,
  .\34 u\24\28mobiles\29  + *,
  .\33 u\24\28mobiles\29  + *,
  .\32 u\24\28mobiles\29  + *,
  .\31 u\24\28mobiles\29  + * {
    clear: left; }

  .\-11u\28mobiles\29 {
    margin-left: 91.6666666667%; }

  .\-10u\28mobiles\29 {
    margin-left: 83.3333333333%; }

  .\-9u\28mobiles\29 {
    margin-left: 75%; }

  .\-8u\28mobiles\29 {
    margin-left: 66.6666666667%; }

  .\-7u\28mobiles\29 {
    margin-left: 58.3333333333%; }

  .\-6u\28mobiles\29 {
    margin-left: 50%; }

  .\-5u\28mobiles\29 {
    margin-left: 41.6666666667%; }

  .\-4u\28mobiles\29 {
    margin-left: 33.3333333333%; }

  .\-3u\28mobiles\29 {
    margin-left: 25%; }

  .\-2u\28mobiles\29 {
    margin-left: 16.6666666667%; }

  .\-1u\28mobiles\29 {
    margin-left: 8.3333333333%; } }
/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg); }
  50% {
    transform: scale(1.1) rotate(-5deg); }
  100% {
    transform: scale(1) rotate(0deg); } }
/* Basic */
html, body {
  height: 100%; }

body {
  background: #ffffff; }
  body.is-loading * {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

body, input, select, textarea {
  color: #6e6e6e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em; }

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #123208;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent; }

/* Creacion de la animacion de los iconos del menu */
.header-promo li {
  padding-right: 22px; }
.header-promo .cursoPromo {
  border-bottom: none; }
  .header-promo .cursoPromo:hover {
    color: white !important; }
  .header-promo .cursoPromo:hover i {
    visibility: visible;
    left: 0px;
    transition: all 200ms ease; }
  .header-promo .cursoPromo i {
    visibility: hidden;
    position: relative;
    left: -30px; }
.header-promo .active i {
  visibility: visible;
  position: initial; }
.header-promo .active a {
  color: white !important;
  font-size: 20px; }

strong, b {
  font-weight: 600;
  color: #5b5b5b; }

em, i {
  font-style: italic; }

p, ul, ol, dl, table, blockquote, form {
  margin: 0 0 2em 0; }

table p {
  margin: 0 0 0 0; }

h1, h2, h3, h4, h5, h6 {
  color: #5b5b5b;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: xx-large; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border: 0;
  border-top: solid 1px rgba(224, 224, 224, 0.75);
  margin-bottom: 1.5em; }

blockquote {
  border-left: solid 0.5em rgba(224, 224, 224, 0.75);
  font-style: italic;
  padding: 1em 0 1em 2em; }

.clear {
  clear: both; }

/* Section/Article */
section.special, article.special {
  text-align: center; }

header {
  text-align: center; }
  header p {
    position: relative;
    top: -1em;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 0.075em; }
  header.major {
    border-bottom-width: 1px;
    border-color: rgba(224, 224, 224, 0.75);
    border-style: solid;
    border-top-width: 1px;
    margin-bottom: 6em;
    padding: 4em 0;
    position: relative; }
    header.major:before, header.major:after {
      background: rgba(224, 224, 224, 0.75);
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%; }
    header.major:before {
      top: 10px; }
    header.major:after {
      bottom: 10px; }
    header.major h2 {
      margin: 0; }
    header.major p {
      top: 0;
      margin: 1.5em 0 0 0;
      padding: 1.5em 1.5em 0 1.5em;
      font-size: 1.5em;
      line-height: 1.75em;
      border-top: solid 1px rgba(224, 224, 224, 0.75);
      display: inline-block; }
    header.major.last {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
      header.major.last:after {
        display: none; }
      header.major.last h2 {
        margin-bottom: 1em; }

footer {
  text-align: center; }
  footer.major {
    border-bottom-width: 1px;
    border-color: rgba(224, 224, 224, 0.75);
    border-style: solid;
    border-top-width: 1px;
    margin-top: 6em;
    padding: 4em 0;
    position: relative; }
    footer.major:before, footer.major:after {
      background: rgba(224, 224, 224, 0.75);
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%; }
    footer.major:before {
      top: 10px; }
    footer.major:after {
      bottom: 10px; }

/* Form */
label {
  display: block;
  color: #5b5b5b;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 1.75em;
  text-transform: uppercase;
  margin: 0 0 0.5em 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: none;
  border-radius: 4px;
  border: 0;
  border: solid 1px rgba(224, 224, 224, 0.75);
  color: inherit !important;
  display: block;
  outline: 0;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  opacity: 1; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    background: rgba(224, 224, 224, 0.15);
    border-color: #123208; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  line-height: 1em; }

textarea {
  padding: 0.5em 0.75em; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px; }

:-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

::-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5; }

.formerize-placeholder {
  color: rgba(110, 110, 110, 0.5) !important; }

.g-recaptcha {
  text-align: center; }
  .g-recaptcha div:first-child {
    width: unset !important; }

#formLOPD {
  font-size: 12px;
  display: inline; }

label[class="error"] {
  margin-bottom: 0;
  color: red;
  font-size: 10px; }

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative; }
  .image:after {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background-image: url("images/overlay.png");
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%; }
  .image img {
    display: block; }
  .image.fit {
    display: block; }
    .image.fit img {
      display: block;
      width: 100%; }
  .image.feature {
    display: block;
    margin: 0 0 2em 0; }
    .image.feature img {
      display: block;
      width: 100%; }
  .image.icon {
    -moz-perspective: 500px;
    -webkit-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px; }
    .image.icon:before {
      -moz-transition: -moz-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
      -webkit-transition: -webkit-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
      -ms-transition: -ms-transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
      transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
      color: #fff;
      font-size: 6em;
      height: 1em;
      left: 50%;
      line-height: 1em;
      margin: -0.5em 0 0 -0.5em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 1em;
      z-index: 1; }
    .image.icon:hover:before {
      -moz-transform: translateZ(1em);
      -webkit-transform: translateZ(1em);
      -ms-transform: translateZ(1em);
      transform: translateZ(1em); }
    .image.icon:hover:after {
      opacity: 1; }

span.image.icon {
  cursor: default; }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* List */
ol.default {
  list-style: decimal;
  padding-left: 1.25em; }
  ol.default li {
    padding-left: 0.25em; }

ul {
  list-style: none; }
  ul.default {
    list-style: disc;
    padding-left: 1em; }
    ul.default li {
      padding-left: 0.5em; }
  ul.icons {
    cursor: default; }
    ul.icons li {
      display: inline-block;
      font-size: 1.25em;
      line-height: 1em;
      padding-left: 0.5em; }
      ul.icons li:first-child {
        padding-left: 0; }
      ul.icons li a, ul.icons li span {
        -moz-transition: background-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        border-radius: 100%;
        border: solid 1px rgba(224, 224, 224, 0.75);
        display: inline-block;
        height: 2em;
        line-height: 2em;
        text-align: center;
        width: 2em; }
        ul.icons li a:hover, ul.icons li span:hover {
          background: rgba(224, 224, 224, 0.15); }
  ul.actions {
    cursor: default;
    text-align: center; }
    ul.actions:last-child {
      margin-bottom: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 0 0 1.5em; }
      ul.actions li:first-child {
        padding: 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1.5em 0 0 0; }
      ul.actions.vertical li:first-child {
        padding: 0; }

/* Table */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

table {
  width: 100%; }
  table.default {
    width: 100%; }
    table.default tbody tr {
      border-bottom: solid 1px rgba(224, 224, 224, 0.75); }
      table.default tbody tr:nth-child(2n - 1) {
        background: rgba(224, 224, 224, 0.15); }
    table.default td {
      padding: 0.5em 1em 0.5em 1em; }
    table.default th {
      color: #5b5b5b;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 0.125em;
      line-height: 1.75em;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left;
      text-transform: uppercase; }
    table.default thead {
      border-bottom: solid 1px rgba(224, 224, 224, 0.75); }

tbody tr:first-child {
  font-weight: bold; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background: #544d55;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 3.25em;
  min-width: 15em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:hover {
    background: #6e6570; }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  .button:active {
    background: #474148; }
  input[type="submit"].alt,
  input[type="reset"].alt,
  input[type="button"].alt,
  .button.alt {
    background: none;
    box-shadow: inset 0 0 0 1px rgba(224, 224, 224, 0.75);
    color: #544d55; }
    input[type="submit"].alt:hover,
    input[type="reset"].alt:hover,
    input[type="button"].alt:hover,
    .button.alt:hover {
      background: rgba(224, 224, 224, 0.15); }
    input[type="submit"].alt:active,
    input[type="reset"].alt:active,
    input[type="button"].alt:active,
    .button.alt:active {
      background: rgba(224, 224, 224, 0.35); }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  .button.fit {
    width: 100%; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  .button.small {
    font-size: 0.8em; }

/* Box */
.box {
  background: #ffffff;
  border: solid 1px rgba(224, 224, 224, 0.75);
  margin-bottom: 6em;
  padding: 1.5em; }
  .box.alt {
    background: none;
    border: none;
    padding: 0; }

/* Feature */
.feature {
  position: relative;
  height: 20em; }
  .feature:after {
    clear: both;
    content: '';
    display: block; }
  .feature h3, .feature h4, .feature h5, .feature h6 {
    text-align: inherit; }
  .feature .image {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%; }
    .feature .image img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      position: absolute; }
  .feature:before {
    background: blue;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .feature .content {
    display: inline-block;
    padding: 3.5em;
    vertical-align: middle;
    width: 48%; }
    .feature .content h3 {
      margin-bottom: 0.5em; }
    .feature .content :last-child {
      margin: 0; }
  .feature.left {
    text-align: left; }
    .feature.left .image {
      float: left; }
      .feature.left .image img {
        right: 0;
        top: 0; }
    .feature.left .content {
      padding-right: 0; }
  .feature.right {
    text-align: right; }
    .feature.right li {
      text-align: right; }
    .feature.right .image {
      float: right; }
      .feature.right .image img {
        left: 0;
        top: 0; }
    .feature.right .content {
      padding-left: 0; }
  .feature.long .content {
    padding-top: 0; }

/* Header */
#header {
  background-attachment: scroll,							scroll,					fixed;
  background-image: url("images/top-3200.svg"), url("images/overlay.png"), url("../../images/header.jpg");
  background-position: bottom center,					top left,				center center;
  background-repeat: repeat-x,						repeat,					no-repeat;
  background-size: 3200px 460px,					auto,					cover;
  color: rgba(255, 255, 255, 0.8);
  padding: 3em 0 9em 0;
  position: relative;
  text-align: center; }
  #header:before, #header:after {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0; }
  #header:before {
    height: calc(100% - 50px);
    opacity: 0.15;
    top: 0; }
  #header:after {
    bottom: 0;
    height: 50px; }
  #header a {
    border-bottom-color: rgba(255, 255, 255, 0.35);
    color: rgba(255, 255, 255, 0.8); }
    #header a:hover {
      border-bottom-color: transparent;
      color: #123208; }
  #header strong, #header b {
    color: #ffffff; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff; }
  #header li {
    list-style: none; }
  #header input[type="submit"],
  #header input[type="reset"],
  #header input[type="button"],
  #header .button {
    background: #ffffff;
    color: #544d55; }
  #header input[disabled="disabled"] {
    color: white;
    opacity: 0.6;
    background: grey;
    cursor: default; }
    #header input[disabled="disabled"]:hover {
      background: grey;
      color: white; }
  #header .logo {
    cursor: pointer !important;
    background: #123208;
    border-radius: 100%;
    color: #ffffff;
    cursor: default;
    display: inline-block;
    font-size: 2.25em;
    height: 2.35em;
    line-height: 2.35em;
    margin: 0 0 0.75em 0;
    text-align: center;
    width: 2.35em;
    background-image: url("../../images/logo.png");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat; }
    #header .logo:hover {
      -webkit-animation: pulse 1s ease 0s infinite normal;
      -o-animation: pulse 1s ease 0s infinite normal;
      -moz-animation: pulse 1s ease 0s infinite normal;
      animation: pulse 1s ease 0s infinite normal; }
  #header h1 {
    font-size: 2.5em;
    margin: 0; }
  #header p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0.25em 0 0 0; }
  #header .header-promo {
    width: 30%;
    float: left; }
  #header #header-centro {
    width: 40%;
    float: left; }
    #header #header-centro a {
      border: 0px; }
    #header #header-centro .info {
      font-size: 0.7em; }
    #header #header-centro #menu {
      display: none; }
  #header i {
    border: 0px; }
  #header #header-contacto {
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 1.75em;
    text-transform: uppercase; }

.informatica {
  background-image: url("../../images/header-informatica-trans.png") !important;
  background-size: cover !important;
  background-position-y: -80px !important; }

.jardineria {
  background-image: url("images/top-3200.svg"), url("images/overlay.png"), url("../../images/header-jardineria.jpg") !important; }

.dam {
  background-image: url("images/top-1600.svg"), url("images/overlay.png"), url("../../images/header-dam.jpg") !important; }

.forestal {
  background-image: url("images/top-1600.svg"), url("images/overlay.png"), url("../../images/header-forestal.jpeg") !important; }

/* Footer */
#footer {
  background-attachment: scroll;
  background-color: #123208;
  background-image: url("images/bottom-3200.svg");
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 3200px 460px;
  color: rgba(255, 255, 255, 0.8);
  /*
  	Since the SVG background occupies a lot of vertical space, we'll
  	add additional top padding (to move our content out of its way)
  	and a negative margin (to move everything up a bit).
  */
  margin-top: -250px;
  padding: calc(460px + 6em) 0 2em 0;
  position: relative;
  text-align: center; }
  #footer:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    height: calc(460px + 6em);
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 0; }
  #footer a {
    color: #ffffff; }
  #footer strong, #footer b {
    color: #ffffff; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff; }
  #footer header p {
    color: rgba(255, 255, 255, 0.5); }
  #footer .g-recaptcha > div {
    margin: 0 auto; }
  #footer input[type="submit"],
  #footer input[type="reset"],
  #footer input[type="button"],
  #footer .button {
    background: #ffffff;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #123208; }
    #footer input[type="submit"]:hover,
    #footer input[type="reset"]:hover,
    #footer input[type="button"]:hover,
    #footer .button:hover {
      background: rgba(224, 224, 224, 0.15);
      color: #ffffff; }
  #footer input[disabled="disabled"] {
    color: white;
    opacity: 0.6;
    background: grey;
    cursor: default; }
    #footer input[disabled="disabled"]:hover {
      background: grey;
      color: white; }
  #footer input[type="text"]:focus,
  #footer input[type="password"]:focus,
  #footer input[type="email"]:focus,
  #footer input[type="tel"]:focus,
  #footer select:focus,
  #footer textarea:focus {
    border-color: #ffffff; }
  #footer input:focus:valid {
    border-color: white; }
  #footer input:focus:invalid, #footer textarea:focus:invalid {
    border-color: red; }
  #footer .formerize-placeholder {
    color: rgba(255, 255, 255, 0.3) !important; }
  #footer form {
    margin: 3em 0; }
  #footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    line-height: 1em;
    margin: 3em 0 0 0; }
    #footer .copyright li {
      border-left: dotted 1px;
      display: inline-block;
      margin-left: 1em;
      padding-left: 1em; }
      #footer .copyright li:first-child {
        padding: 0;
        margin: 0;
        border: 0; }
      #footer .copyright li a, #footer .copyright li span {
        color: inherit; }
        #footer .copyright li a:hover, #footer .copyright li span:hover {
          color: #ffffff; }

/* Main */
#main {
  padding: 0em 0 0em 0;
  position: relative;
  z-index: 1; }
  #main:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1; }
  #main header.major,
  #main footer.major {
    background: #ffffff; }
  #main .landingBody {
    width: 64% !important;
    float: left; }
    #main .landingBody #promoFP {
      width: 100%;
      height: 500px; }
  #main .sideContact {
    width: 34%;
    float: right;
    margin-left: 2%; }

.infoHead {
  background-color: #1B310F;
  padding: 10px 40px 10px 40px; }
  .infoHead img {
    float: left;
    height: 2em;
    margin-right: 10px; }
  .infoHead p {
    float: left;
    color: white;
    margin: 0 !important;
    font-size: smaller; }
  .infoHead .iconsHead {
    float: right;
    margin: 0 !important; }
    .infoHead .iconsHead a {
      color: white !important; }
    .infoHead .iconsHead li {
      font-size: initial !important; }

/* Menu */
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: 0.3s;
    border-bottom: 0px;
    color: #5b5b5b;
    font-weight: 700; }
  .sidenav a:hover {
    color: #f1f1f1; }
  .sidenav .active {
    color: white;
    font-size: 1.2em; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  .sidenav .homebtn {
    position: absolute;
    top: 0;
    font-size: 26px; }
  .sidenav h3 {
    font-size: 1.5em;
    margin-bottom: 0; }
  .sidenav ul {
    margin-bottom: 0; }

/* Others */
#logos-educacion {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%; }

#main #logos-educacion img {
  width: 49.7%; }

#modalidades .modalidad {
  width: 49.4%;
  float: left; }

#presencial {
  margin-right: 1%;
  border-right: solid 1px rgba(224, 224, 224, 0.75); }

#cookies {
  text-align: center;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding: 1em;
  width: 100%;
  line-height: 1.8;
  background-color: rgba(137, 137, 137, 0.5);
  color: white;
  font-size: small; }
  #cookies p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em; }

/* Wide */
@media screen and (max-width: 1680px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 14pt; }

  h2 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.25em; }

  /* Section/Article */
  header.major p {
    font-size: 1.25em; }

  /* Header */
  #header {
    padding: 3em 0 9em 0; }
    #header h1 {
      font-size: 2.25em; }
    #header p {
      font-size: 1.25em;
      line-height: 1.65em; } }
/* Normal */
@media screen and (max-width: 1280px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 13pt; }

  h2 {
    font-size: 1.35em; }

  h3 {
    font-size: 1.15em; }

  /* Section/Article */
  header.major {
    margin-bottom: 4em;
    padding: 3em 0; }
    header.major p {
      font-size: 1.15em; }

  footer.major {
    margin-top: 4em;
    padding: 3em 0; }

  /* Box */
  .box {
    padding: 1.2em;
    margin-bottom: 4em; }

  /* Feature */
  .feature {
    height: 18em; }
    .feature .content {
      padding: 2.5em; }

  /* Header */
  #header {
    background-attachment: scroll,							scroll,							scroll;
    background-image: url("images/top-1600.svg"), url("images/overlay.png"), url("../../images/header.jpg");
    background-size: 1600px 230px,					auto,							cover;
    padding: 6em 0 12em 0; }
    #header:before {
      height: calc(100% - 25px); }
    #header:after {
      height: 25px; }
    #header h1 {
      font-size: 2em; }
    #header #menu {
      display: none; }
    #header .logo:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 42px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      transition: all 2s ease; }
    #header .logo:hover {
      -webkit-animation: pulse 1s ease 0s infinite normal;
      -o-animation: pulse 1s ease 0s infinite normal;
      -moz-animation: pulse 1s ease 0s infinite normal;
      animation: pulse 1s ease 0s infinite normal; }
    #header p {
      font-size: 1.15em; }

  /* Footer */
  #footer {
    background-image: url("images/bottom-1600.svg");
    background-size: 1600px 230px;
    margin-top: -100px;
    padding: calc(230px + 4em) 0 6em 0; }
    #footer:before {
      height: calc(230px + 4em); }

  /* Main */
  #main {
    padding: 0em 0 3em 0; } }
/* Narrow */
@media screen and (max-width: 980px) {
  /* Basic */
  body, input, select, textarea {
    font-size: 12pt; }

  /* Header */
  #header .header-promo {
    display: none; }
  #header #header-centro {
    width: 100%; }
  #header #menu {
    position: absolute;
    top: 59.5px;
    left: 90px; }
    #header #menu .fa-bars {
      padding: 0.5em;
      border-radius: 200px 200px 200px 200px;
      -moz-border-radius: 200px 200px 200px 200px;
      -webkit-border-radius: 200px 200px 200px 200px; }

  #main .landingBody {
    width: initial !important; }

  #main .sideContact {
    width: initial;
    float: none;
    margin-left: 0; }

  .infoHead {
    text-align: center;
    background-color: #1B310F;
    padding: 10px 40px 10px 40px; }
    .infoHead p {
      float: none;
      color: white;
      font-size: smaller; }
    .infoHead img {
      float: none; }
    .infoHead .iconsHead {
      float: none;
      margin: 0 !important;
      text-align: center; }
      .infoHead .iconsHead a {
        color: white !important; }
      .infoHead .iconsHead li {
        font-size: initial !important; } }
/* Narrower */
@media screen and (max-width: 840px) {
  /* Section/Article */
  header.major {
    padding-left: 2em;
    padding-right: 2em; }

  footer.major {
    padding-left: 2em;
    padding-right: 2em; }

  /* Header */
  #header {
    background-image: url("images/top-1280.svg"), url("images/overlay.png"), url("../../images/header.jpg");
    background-size: 1280px 184px,						auto,							cover;
    padding: 3em 0 7em 0; }
    #header:before {
      height: calc(100% - 20px); }
    #header:after {
      height: 20px; }
    #header .header-promo {
      display: none; }
    #header #header-centro {
      width: 100%; }
      #header #header-centro #menu {
        display: inline;
        position: absolute;
        top: 59.5px;
        left: 250px; }
        #header #header-centro #menu #top {
          visibility: hidden; }
        #header #header-centro #menu .fa-bars {
          padding: 0.5em;
          border-radius: 200px 200px 200px 200px;
          -moz-border-radius: 200px 200px 200px 200px;
          -webkit-border-radius: 200px 200px 200px 200px; }
    #header .logo {
      font-size: 1.5em; }
      #header .logo:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 42px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        transition: all 2s ease; }
      #header .logo:hover {
        -webkit-animation: pulse 1s ease 0s infinite normal;
        -o-animation: pulse 1s ease 0s infinite normal;
        -moz-animation: pulse 1s ease 0s infinite normal;
        animation: pulse 1s ease 0s infinite normal; }
    #header h1 {
      font-size: 1.25em; }
    #header p {
      font-size: 1em; }

  h1 {
    font-size: large; } }
/* Mobile */
@media screen and (max-width: 736px) {
  /* Basic */
  h2 {
    font-size: 1em; }

  h3 {
    font-size: 1em; }

  /* Section/Article */
  header p {
    font-size: 0.8em; }
  header.major {
    margin-bottom: 2em; }
    header.major br {
      display: none; }
    header.major p {
      font-size: 0.8em; }

  footer.major {
    margin-top: 2em; }
    footer.major br {
      display: none; }

  /* List */
  ul.actions li {
    padding: 0 0 0 15px; }
  ul.actions.vertical li {
    padding: 15px 0 0 0; }

  /* Box */
  .box {
    padding: 2em;
    margin-bottom: 2em; }

  /* Feature */
  .feature {
    background: #ffffff;
    display: block;
    height: auto;
    margin-bottom: 2em; }
    .feature:last-child {
      margin-bottom: 0; }
    .feature:before, .feature:after {
      display: none; }
    .feature .image {
      float: none;
      height: 15em;
      width: 100%; }
    .feature .content {
      border: solid 1px rgba(224, 224, 224, 0.75);
      padding: 2em !important;
      text-align: center;
      width: 100%; }

  /* Header */
  #header {
    background-image: url("images/top-1280.svg"), url("images/overlay.png"), url("../../images/header.jpg");
    background-size: 1280px 184px,						auto,							cover;
    padding: 3em 0 7em 0; }
    #header:before {
      height: calc(100% - 20px); }
    #header:after {
      height: 20px; }
    #header .header-promo {
      display: none; }
    #header #header-centro {
      width: 100%; }
      #header #header-centro #menu {
        display: inline;
        position: absolute;
        top: 59.5px;
        left: 80px; }
        #header #header-centro #menu #top {
          visibility: hidden; }
        #header #header-centro #menu .fa-bars {
          padding: 0.5em;
          border-radius: 200px 200px 200px 200px;
          -moz-border-radius: 200px 200px 200px 200px;
          -webkit-border-radius: 200px 200px 200px 200px; }
    #header .logo {
      font-size: 1.5em; }
      #header .logo:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 42px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        transition: all 2s ease; }
      #header .logo:hover {
        -webkit-animation: pulse 1s ease 0s infinite normal;
        -o-animation: pulse 1s ease 0s infinite normal;
        -moz-animation: pulse 1s ease 0s infinite normal;
        animation: pulse 1s ease 0s infinite normal; }
    #header h1 {
      font-size: 1.25em; }
    #header p {
      font-size: 1em; }

  .informatica  {
    background-image: url("images/top-1280.svg"), url("images/overlay.png"), url("../../images/header-informatica.jpg") !important; }

  /* Footer */
  #footer {
    background-image: url("images/bottom-1280.svg");
    background-size: 1280px 184px;
    margin-top: -75px;
    padding: calc(184px + 2em) 0 2em 0; }
    #footer:before {
      height: calc(184px + 2em); }
    #footer form {
      padding-bottom: 0; }

  /* Main */
  #main {
    padding: 0em 0 2em 0; }

  /* Other */
  #modalidades .modalidad {
    width: 100%; }

  #presencial {
    margin-right: 0;
    border-right: 0;
    border-bottom: solid 1px rgba(224, 224, 224, 0.75); }

  h1 {
    font-size: large; } }
/* Mobile (Portrait) */
@media screen and (max-width: 480px) {
  /* Section/Article */
  header.major {
    padding-left: 1em;
    padding-right: 1em; }
  header .header-promo {
    display: none; }
  header #header-centro {
    width: 100%; }
  header #menu {
    display: inline;
    position: absolute;
    top: 59.5px;
    left: 90px; }
    header #menu #top {
      visibility: hidden; }
    header #menu .fa-bars {
      padding: 0.5em;
      border-radius: 200px 200px 200px 200px;
      -moz-border-radius: 200px 200px 200px 200px;
      -webkit-border-radius: 200px 200px 200px 200px; }

  footer.major {
    padding-left: 1em;
    padding-right: 1em; }

  /* List */
  ul.icons li {
    padding: 0.2em; }
  ul.actions li {
    display: block;
    padding: 15px 0 0 0; }
    ul.actions li:first-child {
      padding: 0; }

  /* Button */
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    display: block;
    width: 100%; }

  /* Box */
  .box {
    padding: 2em 1em; }

  /* Feature */
  .feature {
    margin-bottom: 1em; }
    .feature .content {
      padding: 2em 1em !important; }

  /* Main */
  #main {
    padding-left: 1em;
    padding-right: 1em; }

  /* Footer */
  #footer {
    margin-top: -100px;
    padding-left: 1em;
    padding-right: 1em; }
    #footer .copyright li {
      border: 0;
      display: block;
      margin: 0;
      padding: 0.75em 0 0 0; }

  /* Header */
  #header {
    padding-left: 2em;
    padding-right: 2em; }
    #header br {
      display: none; } }
/* Mobile Small */
@media screen and (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.84);
    -webkit-transform: scale(0.84);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; } }

/*# sourceMappingURL=main.css.map */
